.clumsy-update{
	padding: 0;
}

.clumsy-update a{
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

.clumsy-update pre{
	display:inline-block;
	background: none;
	color: inherit;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: inherit;
}

.clumsy-update pre::first-line{
	color: var(--theme-dark);
	box-shadow: inset 0 -3px 0 var(--theme);
}

.clumsy-update pre:hover::first-line{
	color: var(--theme-alt-dark);
	box-shadow: inset 0 -3px 0 var(--theme-alt);
}
