/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
	--white: #FFF;
	--light-grey: rgba(229, 229, 229, 0.5); /* light-grey*/
	--dark-grey: #BBB;
	--black: #222;
	--theme: #F9BCBD; /* pink */
	--theme-dark: #D72A39; /* dark pink */
	--theme-alt: #ABD8F7; /* blue */
	--theme-alt-dark: #2174BB; /* dark blue */
}

html,body {
	background: var(--white);
	height: 100%;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

main {
	overflow-x: auto;
	overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--black);
}

h2:not(.archive-title){
	border-bottom: 1px solid var(--light-grey);
}

.tags {
	color: var(--dark-grey);
	margin-left: 1em;
}

.tags a{
	text-decoration: none;
	color: inherit;
}

.tags a:hover,
.tags a:focus {
	border-bottom: 1px solid var(--dark-grey);
}

a {
	outline: none;
}

table {
	margin: auto;
	min-width: 80%;
	-webkit-margin-before: 1em;
	margin-block-start: 1em;
	-webkit-margin-after: 1em;
	margin-block-end: 1em;
}

table, table tr th, table tr td{
	border: 1px solid var(--light-grey);
	border-collapse: collapse;
	/*padding: 0.1em 1em 0.1em 1em;*/
	text-align: center
}

blockquote{
	background: var(--light-grey);
	padding: 0 0 0 1rem;
	border-left: 5px solid var(--theme);
}

strong {
	font-weight: inherit;
	font-style: inherit;
	text-decoration:underline;
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.header {
	padding: 25px 0;
	position: relative;
	border-bottom: 1px solid var(--light-grey);
	border-top: 5px solid transparent;
}

.header:before {
	background: rgb(249, 188, 189);
	background: -o-linear-gradient(290deg, rgb(249, 188, 189) 0%, rgb(249, 188, 189) 50%, rgb(171, 216, 247) 50%, rgb(171, 216, 247) 100%);
	background: linear-gradient(160deg, rgb(249, 188, 189) 0%, rgb(249, 188, 189) 50%, rgb(171, 216, 247) 50%, rgb(171, 216, 247) 100%);
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
}

.nav {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: right;
}

.nav-logo {
	float: left;
	margin-top: -13px;
	-webkit-transition: -webkit-transform 150ms ease-out;
	transition: -webkit-transform 150ms ease-out;
	-o-transition: transform 150ms ease-out;
	transition: transform 150ms ease-out;
	transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.nav-logo:hover,
.nav-logo:focus {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.nav-logo img {
	display: block;
	max-height: 50px;
	width: auto;
	border-radius: 50%;
}

.nav-links {
	margin: 0;
	padding: 0;
	font-size: 18px;
	list-style: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 0 0 30px;
}

.nav-links li:first-child {
	margin-left: 0;
}

.nav-links a {
	text-decoration: none;
	color: var(--black);
	padding-bottom: 22px;
}

.nav-links a:hover,
.nav-links a:focus {
	color: var(--theme-dark);
	border-bottom: 3px solid var(--theme);
}

/* archive */

.archive {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.5em;
	text-align: left;
	color: var(--black);
}

.archive-title {
	font-size: 38px;
	margin-top: 60px;
}

.archive-item {
	margin: 5px 0 15px;
	padding: 0;
}

.archive-item-date {
	color: var(--dark-grey);
	font-size: 19px;
	padding: 5px 0;
	margin-top: 5px;
	display: block;
	text-align: right;
	float: right;
}

.archive-item-link {
	display: inline-block;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	color: var(--black);
	padding: 5px 0;
	border-bottom: 1px solid var(--dark-grey);
}

.archive-item-link:hover,
.archive-item-link:focus {
	-webkit-box-shadow: inset 0 -4px var(--dark-grey);
	box-shadow: inset 0 -4px var(--dark-grey);
}

/* content */

.content {
	max-width: 700px;
	margin: 40px auto 10px;
	padding: 0 15px;
	color: var(--black);
}

.article-content p img,
.figure img {
	max-width: 100%;
	margin: auto;
	display:block;
}

.article-title {
	font-size: 42px;
	color: var(--black);
	margin: 0;
	line-height: 1.3;
}

.article-date {
	color: var(--dark-grey);
}

.article-duration {
	margin-top: 12px;
	float: right;
	font-size: 12px;
	padding: 1px 5px;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid var(--dark-grey);
	color: var(--dark-grey);
}

.article-content {
	font-size: 18px;
	line-height: 1.7;
	text-align: justify;
}

.article-content p {
	margin: 15px 0 15px;
}

.article-content .caption {
	text-align: center;
}

.article-content code {
	background-color: var(--light-grey);
}

.article-content pre {
	background-color: var(--light-grey);
	font-size: 16px;
	line-height: 1.3;
}

/* math */

.article-content .math.display {
	margin-top: 0.3em;
	margin-bottom: 0em;
}

.article-content .MJXc-display,
.article-content .MathJax_CHTML {
	margin: 0;
}

.article-content a {
	text-decoration: none;
	color: var(--theme-dark);
	-webkit-box-shadow: inset 0 -3px 0 var(--theme);
	box-shadow: inset 0 -3px 0 var(--theme);
	background: transparent;
}

.article-content a:hover,
.article-content a:focus {
	color: var(--theme-alt-dark);
	-webkit-box-shadow: inset 0 -3px 0 var(--theme-alt);
	box-shadow: inset 0 -3px 0 var(--theme-alt);
}

.article-content hr {
	width: 150px;
	margin: 50px auto;
	height: 1px;
	overflow: hidden;
	border: none;
	background: #e5e5e5;
}

.highlight {
	border-radius: 3px;
	position: relative;
	margin: 40px -20px;
	font-size: 16px;
}

.highlight pre {
	padding: 10px;
}

.footer {
	padding: 25px 0;
	text-align: center;
}

.footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
	color: var(--dark-grey);
	font-size: inherit;
}

.footer-links li {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 1em 0 1em;
}

.footer-links a {
	text-decoration: none;
	-webkit-transition: color 150ms ease;
	-o-transition: color 150ms ease;
	transition: color 150ms ease;
	color: var(--dark-grey);
}

.footer-links a:hover,
.footer-links a:focus {
	color: var(--black);
}

.footer-links li::before {
	content: '/';
	position: relative;
	left: -1em;
}

.footer-links li:first-child::before {
	display: none;
}

.footer-links-kudos img {
	position: relative;
	top: 6px;
	margin-left: 2px;
}

@media (max-width: 750px) {
	.nav-links li {
		margin: 0 0 0 30px;
	}

/* archive */

	.archive {
		text-align: center;
}
	.archive-item-link {
		max-width: 80vw;
	}

	.archive-item-date {
		font-size: 14px;
		text-align: center;
		float: none;
	}

	.article-title {
		font-size: 34px;
	}

	.article-duration {
		font-size: 10px;
	}

/* content */

	.content {
		font-size: 16px;
		text-align: left;
	}

	.article-content {
		text-align: left;
}

	.footer-links {
		font-size: 14px;
	}
}

@media print {
	header, footer {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		--white: #222;
		--light-grey: rgba(0, 0, 0, 0.5); /* very-black*/
		--dark-grey: #4D4D4D;
		--black: #FFF;
		--theme: #EC797B; /* pink */
		--theme-dark: #F9BCBD; /* light pink */
		--theme-alt: #57A5DB; /* blue */
		--theme-alt-dark: #ABD8F7; /* light blue */
	}
}
